<ActionBar>
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <GridLayout columns="*, 60">
        <Label col="0" color="#ffffff" paddingTop="18" [text]="title"></Label>
        <Button *ngIf="isShow" backgroundColor="#FF5643" col="1" fontSize="18" (tap)="toggleLayout()" [text]="gridLayout ? '&#xf03a;' : '&#xf58d;'" class="fas"></Button>
    </GridLayout>
</ActionBar>