<button class="btn btn-outline-primary" (click)="toggleProjector()">{{projector ? "Hide projector" : "Create projector" }}</button>

<div class="mt-2">
    <input type="number" min="10" [(ngModel)]="width" (change)="changed('width')" class=" form-control d-inline sizeField">
    <button class="btn btn-outline-secondary sizeFieldButton" [class.active]="linked" (click)="linked=! linked"><i class="fa fa-link"></i></button>
    <input type="number" min="10" [(ngModel)]="height" (change)="changed('height')" class="form-control d-inline sizeField mr-5">
    <input type="number" min="10" [(ngModel)]="aspectRatioWidth" (change)="changed('aspectRatioWidth')" class="form-control d-inline sizeField"> x
    <input type="number" min="10" [(ngModel)]="aspectRatioHeight" (change)="changed('aspectRatioHeight')" class="form-control d-inline sizeField">
</div>
<div class="mt-2">
    <input type="number" min="0" [max]="((height < width ? height : width) / 2)" [(ngModel)]="paddingSize" (change)="changed('paddingSize')" class="form-control d-inline sizeField">
</div>
<div class="mt-2">
    <input type="color" [(ngModel)]="backgroundColor" (change)="changed('backgroundColor')" class="form-control d-inline sizeField">
</div>
<div class="input-group mt-2">
    <input type="text" class="form-control" readonly placeholder="Custom logo path" [(ngModel)]="customLogoPath">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="browse()">...</button>
    </div>
</div>