<app-navbar></app-navbar>
<div class="fullheight">
  <as-split direction="horizontal" #split>
    <as-split-area #sidebar size="20" class="p-2">
      <canvas #preview class="preview-canvas"></canvas>
    </as-split-area>
    <as-split-area class="p-4" size="80">

      <table class="table table-striped">
        <thead>
          <tr>
            <td>Preview</td>
            <td>Name</td>
            <td>Transition</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr class="slide" (dblclick)="setCurrentSlide($event, idx)" *ngFor="let slide of slides; let idx = index">
            <td class="clearfix" (mouseenter)="slide.showProgressbar = true" (mouseleave)="mouseLeave($event, idx)"  *ngIf="slide.type == 'video'">
              <video (mousemove)="mouseOverVideo($event, idx)" width="400" [src]="'file:///' + slide.path"></video>
              <div class="progress video-progressbar" [hidden]="!slide.showProgressbar">
                <div class="progress-bar" [style.width]="slide.percent + '%'">
                </div>
              </div>
            </td>
            <td>{{slide.path | pathToSlideName}}</td>
            <td>
              <select [(ngModel)]="slide.transition">
                <option *ngFor="let transition of transitions" [value]="transition">{{transition | prettyTransitionName}}</option>
              </select>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
        
     

      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Drop your video, audio or image files here or <button class="btn btn-primary ml-4" type="button" (click)="openFileSelector()">Choose</button>
        </ng-template>
      </ngx-file-drop>
    </as-split-area>
  </as-split>
</div>
