.fullheight {
    height: calc( 100vh - 30px );
}
::ng-deep {
    .as-split-gutter, .as-split-gutter * {
        background-color: rgb(77, 77, 77);
        flex-basis: 10px !important;
        cursor: col-resize;
    }

    .ngx-file-drop__drop-zone {
        min-height: 100px;
        height: unset !important;
    }
    .ngx-file-drop__content {
        min-height: 100px;
        height: unset !important;
        padding: 10px;
    }
}

.video-progressbar {
    z-index: 5;
    position: relative;
    height: 20px;
    width: calc(100% - 20px);
    opacity: 0.7;
    margin: -30px 10px 0 10px;
}

.preview-canvas {
    width: 100%;
}