<as-split unit="pixel" #mainSplit="asSplit">
    <as-split-area class="p-5">
        <button class="btn btn-outline-primary btn-block" (click)="addVideos()">Add videos</button>
    </as-split-area>
    <as-split-area>
        <as-split unit="pixel" direction="vertical" #rightSplit="asSplit">
            <as-split-area>
                <preview #preview></preview>
            </as-split-area>
            <as-split-area>
                <h1>Settings</h1>
            </as-split-area>
        </as-split>
    </as-split-area>
</as-split>