.slides.grid .slide {
    display: inline-block;
    border: 2px solid #555;
    img.thumbnail {
        width: 100%;
    }
    &.active {
        border-color: rgb(10, 124, 218);
    }
}

.dropZone.activeDrag {
    background-color: #555;
    &:before {
        content: "Drop your file(s) here";
        position: relative;
        float: right;
        top: 45%;
        text-align: center;
        font-size: 3rem;
        width: 100%;
    }
}

.dropZone {
    height: calc(100% - 5rem);
}