.slides.grid .slide {
    display: inline-block;
    border: 2px solid #555;
    padding: 5px;
    img.thumbnail {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    span {
        display: block;
        font-size: smaller;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &.active {
        border-color: rgb(10, 124, 218);
    }
}

.dropZone.activeDrag {
    background-color: #555;
    .hideOnDrag {
        display: none;
    }
    &:before {
        content: "Drop your file(s) here";
        position: relative;
        float: right;
        top: 45%;
        text-align: center;
        font-size: 3rem;
        width: 100%;
    }
}

.dropZone {
    height: calc(100% - 5rem);
}