@import "~bootstrap/scss/bootstrap";
@import "~@forevolve/bootstrap-dark/scss/bootstrap-dark.scss";
.titlebar .window-appicon {
    background-size: 30px;
    margin-right: 1rem;
}

as-split .as-split-gutter {
    background-color: rgb(78, 78, 78) !important;
}