@import "~bootstrap/scss/bootstrap";
.titlebar .window-appicon {
    background-size: 30px;
    margin-right: 1rem;
}

html,
body {
    background-color: #1E1E1E;
    color: #fff;
}

as-split .as-split-gutter {
    background-color: rgb(78, 78, 78) !important;
}